Language: C
BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 88

# Braces
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never

# Alignment
AlignConsecutiveMacros: true
AlignConsecutiveDeclarations: false
AlignConsecutiveAssignments: false
AlignTrailingComments: true
AlignOperands: true

# Pointers and references
PointerAlignment: Right
SpaceAroundPointerQualifiers: Default

# Includes
SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^".*\.h"'
    Priority: 1
  - Regex: '^<.*\.h>'
    Priority: 2

# Spaces
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: false
SpaceBeforeSquareBrackets: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

# Other
IndentCaseLabels: true
BreakBeforeBinaryOperators: None
BinPackParameters: true
BinPackArguments: true
