# Ignore everything
*
.*
**/.*

# Allow directories
!*/

# Allow Git metadata
!/.gitattributes
!/.gitignore
!/.gitmodules

# Allow project configuration files
!/.clang-format
!/.clang-format-ignore
!/.editorconfig
!/.pre-commit-config.yaml
!/.python-version
!/LICENSE
!/Makefile
!/README.md
!/data_acquisition.uvoptx
!/data_acquisition.uvprojx
!/lpc1768.sct
!/pyproject.toml
!/uv.lock

# Allow C source and header files
!/src/
!/src/**/*.c
!/include/
!/include/**/*.h
!/data_acquisition/
!/data_acquisition/**/*.py

# Allow RTE Configuration
!/RTE/
!/RTE/**/*.h
!/RTE/**/*.c
!/RTE/**/*.s

# Allow documentation sources and outputs
!/docs/
!/docs/**/
!/docs/**/*

# But never allow these...
/docs/html/
/docs/latex/
